<!-- Image Gallery-->
<script>
    var names = ["Jessica Mohr", "Chance Loveday", "Kylind Reagan", "Samir Rojas", "Gianna Mantegna", "Gustavo Hernandez"];
    var blurbs = ["Hi! My name is Jessica. I am a sophomore studying BioChemistry and computer science. In my free time, I usually play video games and hang out with my friends.",
                "Hi, I'm a sophomore Computer Science and Math major. I'm active in several organizations across campus, including S³, Mountain Challenge, and MC3D. However, one club is particularly special. CSC has given me a place to excel, hone my programming skills, and be around some truly incredible people.",
                "I am a sophomore Computer Science and have been on the Programming Team since I was a freshman. It improved my coding skills, let me meet people in my field, and helped me feel more prepared for both the real world and academia. It's also a lot of fun for anyone who enjoys problem-solving and traveling with peers!",
                "I am Samir Rojas, a passionate junior studying Computer Science and Math with an anticipated graduation in December 2024. What captivates me most in the realm of Computer Science is the exhilarating journey of programming. Crafting diverse applications and games, such as my rendition of the iconic DOOM game, fuels my enthusiasm by immersing me in multifaceted problem-solving adventures.",
                "Hey, I'm a freshman pursuing an Environmental Science and Computer Science dual-major with a Humanities minor. I am a part of the Programming Team, Philosophy Club, S³, and the CCA technical team. My favorite part of CSC is getting to learn some pretty amazing techniques for coding. I love getting to learn about how to create programs that solve for the wildest of problems.",
                "I am a Junior graduating in 2025, I am a computer science major, and my favorite memory from CSC was when I helped the team submit a correct problem. It felt good contributing to the team, since we used lots of teamwork, to ensure that we effectively use our time wisely."];
    var pics = [
        "../static/images/jess.png",
        "../static/images/chance.png",
        "../static/images/kylind.png",
        "../static/images/samir.png",
        "../static/images/gianna.jpg",
        "../static/images/gus.png"
        ];
</script>

<script>
    src1 = "lipscomb24.jpg";
    src2 = "blast_from_the_past.jpg";
    src3 = "lipscomb_2ndplace.jpg";
    src4 = "icpc24.jpg";
    src5 = "ccsc_team10.jpg";
    src6 = "mb_dinner_11_4.jpg";
    function load_updated_image() {
        var img = document.getElementById("imgGallery").style.backgroundImage;
        //alert(img);
        var url; var cap;
        if (img.indexOf(src1) > -1) {url = src2; cap = "The MC CCSC champions from 2007 meet the Programming Team students and share their expertise";}
        else if (img.indexOf(src2) > -1) {url = src3; cap = "MC's team (far right), consisting of Shok Samadov, Chance Loveday, and Kylind Reagan, won 2nd place at the Lipscomb regional Lifeline Contest";}
        else if (img.indexOf(src3) > -1) {url = src4; cap = "The Programming Team in action during practice";}
        else if (img.indexOf(src4) > -1) {url = src5; cap = "Congratulations to Pedro Pedro Antonio (far left), Gustavo Hernandez (left), Jessica Mohr (right), and Jorge Estrada-Martinez (far right) for securing 10th place in the 2023 CCSC Contest";}
        else if (img.indexOf(src5) > -1) {url = src6; cap = "A well-deserved seafood dinner after a long day of programming";}
        else {url = src1; cap="Only the best of the MC programmers at the 2023 CCSC Contest";}
        url = "../static/Images/" + url;
        document.getElementById("imgGallery").style.backgroundImage = "linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(" + url + ")";
        //document.getElementById("imgGalleryCap").innerHTML = cap;
        document.getElementById("url").innerHTML = url;
        //document.getElementById("cap").innerHTML = cap;
    }
    window.onload = function() {
        setInterval(load_updated_image, 6000)
    };
    </script>

<!-- Student Spotlight Gallery-->
<!-- Contains student blurbs and student picture-->
<script>
    function nextStudent() {
        document.getElementById("studID").value = (parseInt(document.getElementById("studID").value) + 1)%pics.length;
        var studID = document.getElementById("studID").value;
        var studID2 = (parseInt(studID)+1)%pics.length;
        var studID3 = (parseInt(studID)+2)%pics.length;
        
        document.getElementById("studentName").value = names[studID];
        document.getElementById("studentName2").value = names[studID2];
        document.getElementById("studentName3").value = names[studID3];
        document.getElementById("studentBlurb").value = blurbs[studID];
        document.getElementById("studentBlurb2").value = blurbs[studID2];
        document.getElementById("studentBlurb3").value = blurbs[studID3];
        document.getElementById("spotlight").src = pics[studID];
        document.getElementById("spotlight2").src = pics[studID2];
        document.getElementById("spotlight3").src = pics[studID3];
    }
    function lastStudent() {
        document.getElementById("studID").value = (parseInt(document.getElementById("studID").value) - 1)%pics.length;
        if (document.getElementById("studID").value < 0) {document.getElementById("studID").value = pics.length - Math.abs(document.getElementById("studID").value);}
        var studID = document.getElementById("studID").value;
        var studID2 = (parseInt(studID)+1)%pics.length;
        if (studID2 < 0) {studID2 = pics.length - Math.abs(studID2);}
        var studID3 = (parseInt(studID)+2)%pics.length;
        if (studID3 < 0) {studID3 = pics.length - Math.abs(studID3);}

        document.getElementById("studentName").value = names[studID];
        document.getElementById("studentName2").value = names[studID2];
        document.getElementById("studentName3").value = names[studID3];
        document.getElementById("studentBlurb").value = blurbs[studID];
        document.getElementById("studentBlurb2").value = blurbs[studID2];
        document.getElementById("studentBlurb3").value = blurbs[studID3];
        document.getElementById("spotlight").src = pics[studID];
        document.getElementById("spotlight2").src = pics[studID2];
        document.getElementById("spotlight3").src = pics[studID3];
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="../static/Images/CSC Logo.png">
    <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body style="background-color:darkcyan;">
    <link rel="stylesheet" href="../static/styles/samirstyle.css" />
    <!--Navbar-->
    <div class="programmingsite-header1">
        <a href="https://www.maryvillecollege.edu/" target="_blank">
          <img alt="image" src="../static/images/mc_logo-removebg-preview-200h.png" class="MClogo"/>
        </a>
        <nav class="navlinks-container">
          <a class="navlinks" href="./index.html">Major</a>
          <a class="navlinks" href="./problems.html">Problems</a>
          <a class="navlinks" href="./resources.html">Resources</a>
          <a class="navlinks" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
        </nav>
        <a href="../templates\home.html">
          <image src="../static\images\CSC Logo.png" class="progsite-logo"/>
        </a>
      </div>


      <section id = "imgGallery" class="imgGallery" style="background: linear-gradient(rgba(45, 45, 45, 0.5),rgba(0, 0, 0, 0.5)), url('../static/images/lipscomb24.jpg') center/cover;">
        <center><h1 class="sectHeadTop">Meet The <a href="../about_secret_lineup.html" style="text-decoration: none; color: inherit; cursor:crosshair">Team</a> </h1>
        <strong><p class="curious">Curious about programming? You're in the right place!</p></strong>
        <div class="advisordescp" style="color: var(--dl-color-gray-white); opacity: 70%;">
            The Computer Science Club (CSC) welcomes all students seeking to expand your knowledge and skills in programming and technology.<br>
            The Programming Team competes in regional and international programming competitions, enhancing their coding, problem-solving,<br>
            and teammwork skills while having fun along the way. <br><br>
            Mission Statement: The mission is to promote computer science and technical learning among computer science and <br>
            non-computer science majors alike in the Maryville College community and provide meaningful experiences to individuals<br>
            seeking a career relating to computer programming.</div>
        
        <!--<figure>
            <img id = "imgGallery" src="../static/images/myrtleBeach_ccsc.jpg" width=auto height = "450">
            <figcaption id="imgGalleryCap" style="color:darkblue;">Only the best of the MC programmers at the 2023 CCSC Contest</figcaption>
        </figure>-->
        </center>
    </section>

    <section class="about" style="background-image: url('../static/images/mountain.jpg');">
    <!--Advisor Blurb-->
    <center>
    <h2 class="sectHead">Our Advisor</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0E_dYTrlGgbONh8W-4SaTpX-ZStd4T_SAM4aVonwO&s" width=auto height="200"><br>
    <p class="advisordescp">"When I was a kid, I loved logic puzzles. I couldn’t get enough of them. As an adult, I started <br>
        taking computer science classes and made an amazing discovery: computer science is all <br>
        about using mathematics and data structures and algorithmic techniques to solve more and <br>
        more complex logic puzzles. I was hooked! Today I teach computer science at Maryville College,<br>
        where they actually pay me to do what I love. And the best perk of all is I get to work <br>
        with such an amazing, fun, and brilliant group of students. <br>
        Seeing that spark in them is priceless! I have the best job in the world."<br><br>
        <strong>-Dr. Barbara Johnson</strong></p><br>
    </center>
    </section>

    <section class="border" style="border-image: linear-gradient(to right, maroon 40%, red 40%, orange 75%) 5; margin-bottom: -2%;;">
    <!--Student Spotlights-->
    <center><h2 class="sectHead" style="margin-top: 0.5%;">Student Spotlights</h2></center>
    <!--Name-->
    <div class="row">
        <div class="side">
            <input type="text" id="studentName" class="studenthead" value="Jessica Mohr" readonly>
        </div>
        <div class="side">
            <input type="text" id="studentName2" class="studenthead" value="Chance Loveday" readonly>
        </div>
        <div class="side">
            <input type="text" id="studentName3" class="studenthead" value="Kylind Reagan" readonly>
        </div>
    </div>

    <div class="row" style="margin-top: -1.6%;">
        <div class="side"><hr width="227.5px" style="border-color:maroon;"></div>
        <div class="side"><hr width="227.5px" style="border-color:maroon;"></div>
        <div class="side"><hr width="227.5px" style="border-color:maroon;"></div>
    </div>
    <!--Pic-->
    <div class="row">
        <div class="side">
            <img id="spotlight" src="../static/images/jess.png" width=auto height="350">
        </div>
        <div class="side">
            <img id="spotlight2" src="../static/images/chance.png" width=auto height="350">
        </div>
        <div class="side">
            <img id="spotlight3" src="../static/images/kylind.png" width=auto height="350">
        </div>
    </div>

    <!--Blurb-->
    <div class="row">
        <!--Back Btn-->
        <div class=""side">
            <input type="hidden" id="studID" value="0">
            <button type="button" class="spotbtn" style="background-image: url('../static/Images/left_arrow.png');" onclick="lastStudent()"></button>
        </div>
        
        <div class="side">
            <textarea id="studentBlurb" class="studentdescp" readonly>"Hi! My name is Jessica. I am a sophomore studying BioChemistry and computer science. In my free time, I usually play video games and hang out with my friends."</textarea>
        </div>
        <div class="side">
            <textarea id="studentBlurb2" class="studentdescp" readonly>Hi, I'm a sophomore Computer Science and Math major. I'm active in several organizations across campus, including S³, Mountain Challenge, and MC3D. However, one club is particularly special. CSC has given me a place to excel, hone my programming skills, and be around some truly incredible people.</textarea>
        </div>
        <div class="side">
            <textarea id="studentBlurb3" class="studentdescp" readonly>I am a sophomore Computer Science and have been on the Programming Team since I was a freshman. It improved my coding skills, let me meet people in my field, and helped me feel more prepared for both the real world and academia. It's also a lot of fun for anyone who enjoys problem-solving and traveling with peers!</textarea>
        </div>
        
        <!--Next Btn-->
        <div class=""side">
            <input type="hidden" id="studID" value="0">
            <button type="button" class="spotbtn" style="background-image: url('../static/Images/right_arrow.png');" onclick="nextStudent()"></button>
        </div>
    </div>
    </section>

    <!--Apply similar implementation of the college's on Jorge's website-->
    <section class="border" style="border-top: 4px solid; border-image: linear-gradient(to right, maroon 25%, red 30%, orange 60%) 5; margin-top: -0.5%;">
        <center><h2 class="sectHead" style="margin-top: 0.5%; margin-bottom: -3%;">Competitions<br><br></h2></center>
        <div class="locations">
            <div class="locations-col">
            <a href="https://lipscomb-soc.org/contest.html" target="_blank"> <button class="compbtn" style="background-image: url('../static/images/lipscomb.jpg');"> <div class="layer"> <h3>Lipscomb</h3> </div></button> </a> </div>
            <div class="locations-col">
                <a href="https://icpc.global/regionals/finder/Mid-Central-USA" target="_blank"> <button class="compbtn" style="background-image: url('../static/images/tnTech.jpg');"> <div class="layer"> <h3>ICPC: TN Tech </h3></div></button> </a>
            </div>
            <div class="locations-col">
                <a href="http://www.ccscse.org/conference.php?year=37th" target="_blank"> <button class="compbtn" style="background-image: url('../static/images/CCU.jpg');"> <div class="layer"> <h3> Coastal Carolina </h3></div></button> </a>
            </div>
        </div>
    </section>
    <!--{% endblock %}-->

    <!--Footer-->
    <div class="Footer">
        <footer class="innerFooter">
          <div class="footer-container">
            <a href="https://www.maryvillecollege.edu/" target="_blank" rel="noreferrer noopener">
              <img alt="image" src="https://www.maryvillecollege.edu/wp-content/uploads/Images/Main/MC-footer-logo-v5.png"/>
            </a>
            <div class="logo-container">
              <span class="footer-logo">MC Programming Team</span>
              <nav class="programmingsite-nav1">
                <a href="https://www.maryvillecollege.edu/academics/programs-of-study/computer-science/" target="_blank" rel="noreferrer noopener"class="bottom-nav">
                  Info
                </a>
                <a class="bottom-nav" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
              </nav>
            </div>
          </div>
          <div class="programmingsite-separator"></div>
          <div class="bottom-container">
            <span class="copyright-text"> © 2024 MC Programming Team, All Rights Reserved. </span>
            <div class="programmingsite-icon-group1">
                <a href="https://www.facebook.com/groups/112478608462745/" target="_blank" rel="noreferrer noopener">
                    <svg viewBox="0 0 602.2582857142856 1024" class="fbIcon">
                      <path d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"></path>
                    </svg>
                  </a>
            </div>
          </div>
        </footer>
      </div>
    </div>

</html>