<html>
    <head>
        <title>CSC Homepage</title>
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../static/Images/CSC Logo.png">
    </head>
    <!--I modified some of the design on this page, including the navbar and the images. Feel free to change any of them as you like before we come a consensus on the Home Page's style.-->
    <body>
        <section id="navbar" class="navbar">
            <link rel="stylesheet" href="../static/styles/samirstyle.css" />
            <!--Navbar-->
            <div class="programmingsite-header1">
                <a href="https://www.maryvillecollege.edu/" target="_blank">
                <img alt="image" src="../static/images/mc_logo-removebg-preview-200h.png" class="MClogo"/>
                </a>
                <nav class="programmingsite-links2">
                <a class="navlinks" href="./about.html">About</a>
                <a class="navlinks" href="./index.html">Major</a>
                <a class="navlinks" href="./problems.html">Problems</a>
                <a class="navlinks" href="./resources.html">Resources</a>
                <a class="navlinks" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
                </nav>
                <a href="../templates\home.html">
                <image src="../static\images\CSC Logo.png" class="progsite-logo"/>
                </a>
            </div>
        </section>
        <br><br><br>

        <section id="gallery" class="homeGallery" style="background: linear-gradient(rgba(45, 45, 45, 0.5),rgba(0, 0, 0, 0.5)), url('../static/images/improv_coding_session.JPG') center/cover;">
            <h1 class="sectHeadTop" style="margin-top:1%; text-align: center;">Computer Science Club</h1>
            <!--<img id="bannerImage" src="../static/Images/improv_coding_session.jpg" height="400px" width="auto" alt="Image failed to load" loading="lazy">
            <img id="bannerImage" src="../static/Images/uiclass_2023.jpg" height="400px" width="auto" alt="Image failed to load" loading="lazy">-->
            <!--<img id="bannerImage" src="../static/Images/myrtleBeach_ccsc.jpg" height="500px" width="auto" alt="Image failed to load" loading="lazy">-->
            <br>
            </section>

            <section id="main" style="margin-top: -1%; margin-left:-1%; margin-right:-1%; color: black;">
            <center>
            <h2>Getting Started:</h2>
                <li>Check our schedule below to join us in Programming practice</li>
                <li>Contact us through our contact page</li>
                <li>Practice a few problems from the problem bank</li>
                <li>Join our <a href="https://www.facebook.com/groups/112478608462745" target="_blank" class="homeHyper"><b>Facebook</b></a> group:</li>
                <!--Do we need the full links if we include the hyperlinks?-->
                <!--<ul>
                    <li><a href="https://www.facebook.com/groups/112478608462745" target="_blank">https://www.facebook.com/groups/112478608462745</a></li>
                </ul>-->
                <li>Join our <a href="https://discord.gg/HsRqNg6m" target="_blank" class="homeHyper"><b>Discord</b></a> server:</li>
                <!--<ul>
                    <li><a href="https://discord.gg/HsRqNg6m" target="_blank">https://discord.gg/HsRqNg6m</a></li>
                </ul>-->
                </center>
            </section>

        <!--Thinking about different approach than About Page-->
        <script>
        //var images = ["./Images/myrtleBeach_ccsc.jpg", "./Images/lipscomb_2ndplace.jpg", "./Images/ccsc_team10.jpg", "./Images/freshies.jpg", "./Images/working.jpg", "./Images/dijkstra.jpg", "./Images/uiclass_2023.jpg"];
        var images = ["../static/images/improv_coding_session.JPG", "../static/images/uiclass_2023.JPG", "../static/images/myrtleBeach_ccsc.jpg"];
            var i = 0;
            var renew = setInterval(function(){
                if(images.length == i){
                    i = 0;
                }
                else {
                    document.getElementById("gallery").style.backgroundImage = "linear-gradient(rgba(45, 45, 45, 0.5),rgba(0, 0, 0, 0.5)), url(" + images[i] + ")";
                    i++;
                }
            },5000);
        </script>
        <br><br><br>

        <section id=""calendar" style="margin-top: -3.5%; color: var(--dl-color-gray-white);">
        <!--Calendar by Chance-->
        <h2><center>Upcoming Events:</center></h2> <h4 align="right" style="margin-right: 10%; margin-bottom: -1.2%; color: black;">Meeting Dates</h4>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&title=CSC&showTz=0&showPrint=0&showNav=0&showTitle=0&showDate=1&showCalendars=1&showTabs=0&src=Y18yMGJiNDA1MDdhNzljMjU5ZjMwODJhYThmMjhlMGYyMDdhYTgxZmUxZmE5YjNlNTczZjBkNzE1YzY2Y2NkOGU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border-width:0" width="750" height="400" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showNav=0&mode=AGENDA&showTabs=0&showPrint=0&showDate=0&showTitle=0&showTz=0&showCalendars=1&src=Y18yMGJiNDA1MDdhNzljMjU5ZjMwODJhYThmMjhlMGYyMDdhYTgxZmUxZmE5YjNlNTczZjBkNzE1YzY2Y2NkOGU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border:solid 1px #777" width="400" height="400" align="right" frameborder="0" scrolling="no"></iframe>
        <br><br><br>
        <center>Please join us to hone your problem-solving skills, explore the art of algorithmic thinking, and have fun!</center>
        </section>

    <!--Footer-->
    <div class="Footer">
        <footer class="innerFooter">
          <div class="footer-container">
            <a href="https://www.maryvillecollege.edu/" target="_blank" rel="noreferrer noopener">
              <img alt="image" src="https://www.maryvillecollege.edu/wp-content/uploads/Images/Main/MC-footer-logo-v5.png"/>
            </a>
            <div class="logo-container">
              <span class="footer-logo">MC Programming Team</span>
              <nav class="programmingsite-nav1">
                <a href="https://www.maryvillecollege.edu/academics/programs-of-study/computer-science/" target="_blank" rel="noreferrer noopener"class="bottom-nav">
                  Info
                </a>
                <a class="bottom-nav" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
              </nav>
            </div>
          </div>
          <div class="programmingsite-separator"></div>
          <div class="bottom-container">
            <span class="copyright-text"> © 2024 MC Programming Team, All Rights Reserved. </span>
            <div class="programmingsite-icon-group1">
                <a href="https://www.facebook.com/groups/112478608462745/" target="_blank" rel="noreferrer noopener">
                    <svg viewBox="0 0 602.2582857142856 1024" class="fbIcon">
                      <path d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"></path>
                    </svg>
                  </a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </body>

</html>