<!--Still don't know what these are?-->
<!--{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}-->
<html>
    <head>
        <!-- I dunno what title should be. Probably fine. --> <!--Looks good to me -CL-->
        <title>CSC Homepage</title>
        <link rel="stylesheet" href="../static/styles/style.css">
        <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../static/images/mcLogo.png">
    </head>
    <!--I modified some of the design on this page, including the navbar and the images. Feel free to change any of them as you like before we come a consensus on the Home Page's style.-->
    <body style="background-color: darkcyan;">
        <section id="navbar" class="navbar">
            <!--Navbar-->
            <pre>   <!--Additionally, make Contact a button at the bottom with the Facebook link-->
                <a href="https://www.maryvillecollege.edu/" target="_blank" ><img align="left" src="../static/Images/mcLogo.png" style="margin-top:-1%; margin-left: 4%;" loading="lazy"></a>    <a class="navlinks" href="about.html">About</a>    <a class="navlinks" href="major.html">Major</a>   <a class="navlinks" href="" onclick="window.open('http://localhost/contact.php', 'newwindow', 'width=700,height=500'); return false;">Contact</a>    <a class="navlinks" href="http://localhost/problems.php">Problems</a> <a href="./home.html"><img align="right" src="../static/Images/placeholderlogo.png" style="margin-top:-1%; margin-right: 4%;" loading="lazy"></a>
            </pre>
        </section>
        <br><br><br>

        <section id="gallery" class="homeGallery" style="background: linear-gradient(rgba(45, 45, 45, 0.5),rgba(0, 0, 0, 0.5)), url('../static/images/improv_coding_session.JPG') center/cover;">
            <h1 class="sectHeadTop" style="margin-top:1%; text-align: center;">Computer Science Club</h1>
            <!--<img id="bannerImage" src="../static/Images/improv_coding_session.jpg" height="400px" width="auto" alt="Image failed to load" loading="lazy">
            <img id="bannerImage" src="../static/Images/uiclass_2023.jpg" height="400px" width="auto" alt="Image failed to load" loading="lazy">-->
            <!--<img id="bannerImage" src="../static/Images/myrtleBeach_ccsc.jpg" height="500px" width="auto" alt="Image failed to load" loading="lazy">-->
            <br>
            </section>

            <section id="main" style="margin-top: -1%; margin-left:-1%; margin-right:-1%;">
            <center>
            <h2>Getting Started:</h2>
                <li>Check our schedule below to join us in Programming practice</li>
                <li>Contact us through our contact page</li>
                <li>Practice a few problems from the problem bank</li>
                <li>Join our <a href="https://www.facebook.com/groups/112478608462745" target="_blank">Facebook</a> group:</li>
                <!--Do we need the full links if we include the hyperlinks?-->
                <!--<ul>
                    <li><a href="https://www.facebook.com/groups/112478608462745" target="_blank">https://www.facebook.com/groups/112478608462745</a></li>
                </ul>-->
                <li>Join our <a href="https://discord.gg/HsRqNg6m" target="_blank">Discord</a> server:</li>
                <!--<ul>
                    <li><a href="https://discord.gg/HsRqNg6m" target="_blank">https://discord.gg/HsRqNg6m</a></li>
                </ul>-->
                </center>
            </section>

        <!--Thinking about different approach than About Page-->
        <script>
        //var images = ["./Images/myrtleBeach_ccsc.jpg", "./Images/lipscomb_2ndplace.jpg", "./Images/ccsc_team10.jpg", "./Images/freshies.jpg", "./Images/working.jpg", "./Images/dijkstra.jpg", "./Images/uiclass_2023.jpg"];
        var images = ["../static/images/improv_coding_session.JPG", "../static/images/uiclass_2023.JPG"];
            var i = 0;
            var renew = setInterval(function(){
                if(images.length == i){
                    i = 0;
                }
                else {
                    document.getElementById("gallery").style.backgroundImage = "linear-gradient(rgba(45, 45, 45, 0.5),rgba(0, 0, 0, 0.5)), url(" + images[i] + ")";
                    i++;
                }
            },5000);
        </script>
        <br><br><br>

        <section id=""calendar" style="margin-top: -3.5%;">
        <!--Calendar by Chance-->
        <h2><center>Upcoming Events:</center></h2> <h4 align="right" style="margin-right: 10%; margin-bottom: -1.2%">Meeting Dates</h4>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&title=CSC&showTz=0&showPrint=0&showNav=0&showTitle=0&showDate=1&showCalendars=1&showTabs=0&src=Y18yMGJiNDA1MDdhNzljMjU5ZjMwODJhYThmMjhlMGYyMDdhYTgxZmUxZmE5YjNlNTczZjBkNzE1YzY2Y2NkOGU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border-width:0" width="750" height="400" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showNav=0&mode=AGENDA&showTabs=0&showPrint=0&showDate=0&showTitle=0&showTz=0&showCalendars=1&src=Y18yMGJiNDA1MDdhNzljMjU5ZjMwODJhYThmMjhlMGYyMDdhYTgxZmUxZmE5YjNlNTczZjBkNzE1YzY2Y2NkOGU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F4511E" style="border:solid 1px #777" width="400" height="400" align="right" frameborder="0" scrolling="no"></iframe>
        <br><br><br>
        <center>Please join us to hone your problem-solving skills, explore the art of algorithmic thinking, and have fun!</center>
        </section>

        <!--Socials & Other things-->
    <div>
        <a href="https://www.facebook.com/groups/112478608462745" aria-label="Link to https: https://www.facebook.com/groups/112478608462745  page" title="Link to https://www.facebook.com/groups/112478608462745  page">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM16 8C20.4 8 24 11.6 24 16C24 20 21.1 23.4 17.1 24V18.3H19L19.4 16H17.2V14.5C17.2 13.9 17.5 13.3 18.5 13.3H19.5V11.3C19.5 11.3 18.6 11.1 17.7 11.1C15.9 11.1 14.7 12.2 14.7 14.2V16H12.7V18.3H14.7V23.9C10.9 23.3 8 20 8 16C8 11.6 11.6 8 16 8Z" fill="#646464"></path>
            </svg></a>
    </div>
    <!--{% endblock %}-->

    <!--Footer-->
    <div class="footer">
        <center>
            <i class="fa-regular fa-copyright"></i> All information Maryville College 2024
            502 E Lamar Alexander Pkwy, Maryville, TN 37804
        </center>
        </div>
    </body>

</html>
