<!--{% extends "base.html" %}
{% block title %}
    A Computer Science Major At A Glance
{% endblock %}-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>A Computer Science Major At A Glance</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<!--{% block content %}--> <br><br><br>
<body style="background-color:#fde79e;">
    <section id="navbar" class="navbar" style="margin-top: -5.5%; margin-bottom: -1.5%;">
        <!--Navbar-->
        <pre>   <!--Additionally, make Contact a button at the bottom with the Facebook link-->
            <a href="https://www.maryvillecollege.edu/" target="_blank" ><img align="left" src="../static/Images/mcLogo.png" style="margin-top:-1%; margin-left: 4%;" loading="lazy"></a>    <a class="navlinks" href="about.html">About</a>    <a class="navlinks" href="" onclick="window.open('http://localhost/contact.php', 'newwindow', 'width=700,height=500'); return false;">Contact</a>    <a class="navlinks" href="http://localhost/problems.php">Problems</a> <a href="./home.html"><img align="right" src="../static/Images/placeholderlogo.png" style="margin-top:-1%; margin-right: 4%;" loading="lazy"></a>
        </pre>
    </section>
    
    <div style="background-color:#600015; color:orange; text-align: center; margin-left: -1%; margin-right: -1%;"> 
    <h1 >A Computer Science Major At A Glance</h1><br>
    </div>

    <div class="course"><center>The courses below are grouped based on offerings and suggestions from both students and professors. Courses marked with an * has limited availibility.</center></div>
    <div class="row">
        <div class="side">
            Fall
        </div>
        <div class="side">
            Spring
        </div>
    </div> <hr>
    
    <h2 class="yr">Freshman Year</h2>
    <section class="course">
    <div class="row">   <!--Freshman Courses-->
        <div class="side">
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/100/mth-125/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/100/mth-125/', 'newwindow', 'width=500', 'height=450'); return false;"> <!--MTH125 (Calculus I)--><img src="../static/images/calc1.png" width=auto height="125px"><br></a>
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/100/csc-130/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/100/csc-130/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC130 (Introduction to Computer Programming)<br></a>
        </div>
        
        <div class="side"> 
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/200/mth-225/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/200/mth-225/', 'newwindow', 'width=500', 'height=450'); return false;"> <!--MTH225 (Calculus II)--> <img src="../static/images/calc2.png" width=auto height="125px"><br></a>
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/mth-225/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-225/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC225 (Data Structures)<br></a>
        </div>
    </div>
    </section><hr>

    <h2 class="yr">Sophomore Year</h2>
    <section class="course">
        <div class="row">   <!--Sophomore 24-25 Courses-->
            <div class="side">
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-299/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-299/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC299 (Professional Practices) <br></a>
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/200/mth-232/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/200/mth-232/', 'newwindow', 'width=500', 'height=450'); return false;"> MTH232 (Linear Algebra) <br></a>
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-220/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-220/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC220 (Computer Architecture)</a> * <br>
            </div>
            
            <div class="side">
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-231/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-231/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC231 (Discrete Structures) <br></a>
            </div>
        </div>
    </section><hr>

    <h2 class="yr">Junior Year</h2>
    <section class="course">
        <div class="row">   <!--Junior 25-26 Courses-->
            <div class="side">
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-260/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-260/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC260 (Database Management)</a> * <br>
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-319/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-319/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC319 (User Interface)</a> * <br>
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/300/mth-321/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/mth-mathematics/300/mth-321/', 'newwindow', 'width=500', 'height=450'); return false;"> MTH321 (Probability and Statistics I)</a> * <br>
            </div>

            <div class="side">
                <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-314/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-314/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC314 (Data Mining)</a> * <br>
            </div>
        </div>
        </section><hr>

    <h2 class="yr">Senior Year</h2>
    <section class="course">   <!--Senior 26-27 Courses-->
    <div class="row">
        <div class="side">
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-250/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/200/csc-250/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC250 (Software Development and Design)</a> * <br>
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-351/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-351/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC351 (Senior Study Pt. 1) <br></a>
        </div>

        <div class="side">
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-312/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-312/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC312 (Algorithms)</a> * <br>
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-351/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-351/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC352 (Senior Study Pt. 2) <br></a>
            <a href="https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-381/" onclick="window.open('https://maryvillecollege.smartcatalogiq.com/current/academic-catalog/courses/csc-computer-science/300/csc-381/', 'newwindow', 'width=500', 'height=450'); return false;"> CSC381 (Theory of Computation)</a> * <br>
        </div>
    </div>
    </section>

    <section style="border-top: 5px solid; border-image: linear-gradient(to right, maroon 50%, red 50%, orange 75%) 5;">
        <center><h2 >Hear from MC Graduates</h2></center>
        <image src="../static/images/Meystrik-cropped-350x420.jpg">
    </section>
</body>
<!--{% endblock %}-->

<!--Footer (Partially stolen from Kylind)-->
<section class="footer">
    <center>
        <i class="fa-regular fa-copyright"></i> All information Maryville College 2024
        502 E Lamar Alexander Pkwy, Maryville, TN 37804
    </center>
</section>

</html>