<html>
<head>
    <title>Explore Some Problems</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/mcLogo.png">
</head>

<body>
    <h2><center>New to programming?</center></h2>
    <h3><center>Check our Resources Page to check out alumni in the industry and learn how to get started towards a career in computer science.</center></h3>
    Try these problems on Kattis, an online judge software<br>
    1) Create an account on Kattis<br>
    2) Set up a compiler or IDE to test your code. Recommendations are Pycharm, Eclipse, and VSCode.<br>
    3) Code Away!<br>
    Contact programming.team@my.maryvillecollege.edu if you'd like to explore more of competitive programming.<br>
</body>
</html>