<!DOCTYPE html>
<html>
    <head>
        <title>Problems</title>
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/problems.css">
        <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/Images/CSC Logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    table {
        font-family: "Ubuntu", sans-serif;
        font-size: 13px;
        font-weight: 500;
    }

</style>
    </head>
    <body>
        <section id="navbar" class="navbar">
            <link rel="stylesheet" href="../static/styles/samirstyle.css" />
            <!--Navbar-->
            <div class="programmingsite-header1">
                <a href="https://www.maryvillecollege.edu/" target="_blank">
                <img alt="image" src="../static/images/mc_logo-removebg-preview-200h.png" class="MClogo"/>
                </a>
                <nav class="navlinks-container">
                <a class="navlinks" href="./about.html">About</a>
                <a class="navlinks" href="./index.html">Major</a>
                <a class="navlinks" href="./resources.html">Resources</a>
                <a class="navlinks" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
                </nav>
                <a href="../templates\home.html">
                    <image src="../static\images\CSC Logo.png" class="progsite-logo"/>
                </a>
            </div>
        </section>
        <br><br><br><br><br>

        <script>
            function search(n, search) {
  // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        if (search == 0) {
            input = document.getElementById("searchinput");
        }
        else {
            input = document.getElementById("searchinput2");

        }
        table = document.getElementById("probtable");
        filter = input.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[n];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }  
function sortTable(n) {
            
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("probtable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          // This should change icon from asc to dsc. It also likely does not.
          $('.clickable-header::after').css('content', '"\f160"')
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          // This should change icon from dsc to asc. It does not. 
          $('.clickable-header::after').css('content', '"\f161"')
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


    </script>
    <br>
    <center><h1>PROBLEMS</h1></center>
    <center><p style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">Hone your programming skills with a selection of problems from previous practices, contests and classes</p></center>
    <br>
    <center><input type="text" id="searchinput" onkeyup="search(0,0)" placeholder="Search by problem name.."><input type="text" id="searchinput2" onkeyup="search(3,2)" placeholder="Search by difficulty.."></center>
    <!--The empty spans in front of the hints make it so the hints do not appear after table has been sorted-->    
    <table id="probtable" class="styled-table">
            <thead>
            <tr>
                <th class="clickable-header">Problem Name</th>   <!--onclick="sortTable(0)"-->
                <th onclick="sortTable(1)" class="clickable-header">Category</th>
                <th onclick="sortTable(2)" class="clickable-header">Website</th>
                <th onclick="sortTable(3)" class="clickable-header">Difficulty</th>
                <th style="cursor: default;">Link</th>
                <th style="cursor: default;">Hints</th>
            </tr>
            </thead>
            <tbody>
                <tr class="prob-row">
                    <td>hello</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.1</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/hello" target="_blank">https://open.kattis.com/problems/hello</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="A simple problem that may require a reread"></td>
                </tr>

                <tr class="prob-row">
                    <td>Champernowne Verification</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.4</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/champernowneverification" target="_blank">https://open.kattis.com/problems/champernowneverification</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="A simple problem that may require a reread"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">A simple problem that may require a reread</td>
                    <td style="color:transparent;">Ad Hoc</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">1.4</span> EASY</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Chanukah Challenge</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.4</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/chanukah" target="_blank">https://open.kattis.com/problems/chanukah</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Just counting candles"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Just counting candles</td>
                    <td style="color:transparent;">Ad Hoc</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">1.4</span> EASY</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Rampant Growth</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.8</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/rampantgrowth" target="_blank">https://open.kattis.com/problems/rampantgrowth</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Formulate a plan to help Eddy"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"><b>Formula</b>te a plan to help Eddy</td>
                    <td style="color:transparent;">Ad Hoc</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">1.8</span> EASY</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Sort of Sorting</td>
                    <td>Data Structures</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.8</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/sortofsorting" target="_blank">https://open.kattis.com/problems/sortofsorting</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Sorting the normal way is too much work!"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Sorting the normal way is too much work!</td>
                    <td style="color:transparent;">Data Structures</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">1.8</span> EASY</td>
                    <td></td>
                </tr>-->
                <tr class="prob-row">
                    <td>Kitten on a Tree</td>
                    <td>Data Structures</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.8</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/kitten" target="_blank">https://open.kattis.com/problems/kitten</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Statistcs</td>
                    <td>Statistcs</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">1.9</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/statistics" target="_blank">https://open.kattis.com/problems/statistics</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Recount</td>
                    <td>Data Structures</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.0</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/recount" target="_blank">https://open.kattis.com/problems/recount</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Dictionaries are useful...even for elections."></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Dictionaries are useful...even for elections.</td>
                    <td style="color:transparent;">Data Structures</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">2.0</span> EASY</td>
                    <td></td>
                </tr>-->
                <tr class="prob-row">
                    <td>Set!</td>
                    <td>Combinatorics</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.1</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/set" target="_blank">https://open.kattis.com/problems/set</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Mia</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.1</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/mia" target="_blank">https://open.kattis.com/problems/mia</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Out of Sorts</td>
                    <td>Data Structures</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.5</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/outofsorts" target="_blank">https://open.kattis.com/problems/outofsorts</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Geppetto</td>
                    <td>Combinatorics</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.5</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/geppetto" target="_blank">https://open.kattis.com/problems/geppetto</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Mastering Mastermind</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem easy">2.6</span> EASY</td>
                    <td><a href="https://open.kattis.com/problems/mastermind" target="_blank">https://open.kattis.com/problems/mastermind</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"></td>
                    <td style="color:transparent;">Ad Hoc</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem easy">2.6</span> EASY</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Eight queens</td>
                    <td>Backtracking</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">2.8</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/8queens" target="_blank">https://open.kattis.com/problems/8queens</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"></td>
                    <td style="color:transparent;">Backtracking</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">2.8</span> MEDIUM</td>
                    <td></td>
                </tr>-->
                <tr class="prob-row">
                    <td>A Towering Problem</td>
                    <td>Sorting</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">2.8</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/towering" target="_blank">https://open.kattis.com/problems/towering</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>3D Printing Statues</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">2.8</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/3dprinter" target="_blank">https://open.kattis.com/problems/3dprinter</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Anagram Counting</td>
                    <td>Numeric</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.0</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/anagramcounting" target="_blank">https://open.kattis.com/problems/anagramcounting</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"></td>
                    <td style="color:transparent;">Numeric</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">3.0</span> MEDIUM</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Bicoloring</td>
                    <td>Graphs</td>
                    <td>UVA Judge</td>
                    <td><span class="problem medium">3.0</span> MEDIUM</td>
                    <td><a href="https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=945" target="_blank">https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=945</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Coloring has never been this fun!"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Coloring has never been this fun!</td>
                    <td style="color:transparent;">Graphs</td>
                    <td style="color:transparent;">UVA Judge</td>
                    <td style="color:transparent;"><span class="problem medium">3.0</span> MEDIUM</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>Money Matters</td>
                    <td>UFDS</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.0</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/moneymatters" target="_blank">https://open.kattis.com/problems/moneymatters</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Shortest paths</td>
                    <td>Graphs</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.0</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/shortestpath1" target="_blank">https://open.kattis.com/problems/shortestpath1</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Single source shortest path, non-negative weights"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Fairly simple once you learn the algorithm</td>
                    <td style="color:transparent;">UFDS</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">3.0</span> MEDIUM</td>
                    <td></td>
                </tr>-->
                
                <tr class="prob-row">
                    <td>Almost Perfect</td>
                    <td>Numeric</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.1</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/almostperfect" target="_blank">https://open.kattis.com/problems/almostperfect</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Find your divisors first and work from there"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint">Find your divisors first and work from there</td>
                    <td style="color:transparent;">Numeric</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">3.1</span> MEDIUM</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>2048</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.1</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/2048" target="_blank">https://open.kattis.com/problems/2048</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Paradox with Averages (Hard)</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.3</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/averageshard" target="_blank">https://open.kattis.com/problems/averageshard</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>Subprime</td>
                    <td>Ad Hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">3.9</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/subprime" target="_blank">https://open.kattis.com/problems/subprime</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Sieve algorithm"></td>
                </tr>

                <tr class="prob-row">
                    <td>Adding Words</td>
                    <td>Data Structures</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">4.0</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/addingwords" target="_blank">https://open.kattis.com/problems/addingwords</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"></td>
                    <td style="color:transparent;">Data Structures</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">4.0</span> MEDIUM</td>
                    <td></td>
                </tr>-->
                
                <tr class="prob-row">
                    <td>Freckles</td>
                    <td>Shortest Path</td>
                    <td>UVA Judge</td>
                    <td><span class="problem medium">4.2</span> MEDIUM</td>
                    <td><a href="https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=975" target="_blank">https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=975</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Shortest Path"></td>
                </tr>

                <tr class="prob-row">
                    <td>Cracker Barrel Game</td>
                    <td>Graphs</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">4.2</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/crackerbarrel?tab=metadata" target="_blank">https://open.kattis.com/problems/crackerbarrel?tab=metadata</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Shortest Path"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"></td>
                    <td style="color:transparent;">Shortest Path</td>
                    <td style="color:transparent;">UVA Judge</td>
                    <td style="color:transparent;"><span class="problem medium">4.2</span> MEDIUM</td>
                    <td></td>
                </tr>-->

                <tr class="prob-row">
                    <td>10 kinds of people</td>
                    <td>Ad hoc</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">4.2</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/10kindsofpeople" target="_blank">https://open.kattis.com/problems/10kindsofpeople</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Shortest Path"></td>
                </tr>

                <tr class="prob-row">
                    <td>Spiderman's Workout</td>
                    <td>Dynamic Programming</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">4.8</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/spiderman" target="_blank">https://open.kattis.com/problems/spiderman</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Set up a 2D array with n+1 rows<br> and sum(moveheights)+1 columns"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"><span></span> Set up a 2D array with n+1 rows<br> and sum(moveheights)+1 columns</td>
                    <td style="color:transparent;"> Dynamic Programming</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem medium">4.8</span> MEDIUM</td>
                    <td></td>
                </tr>-->
                <tr class="prob-row">
                    <td>A Classy Problem</td>
                    <td>Sorting</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">4.9</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/classy" target="_blank">https://open.kattis.com/problems/classy</a></td>
                    <td><img rc="../static/images/question-mark.png" width="30px" height="auto" title=""></td>

                <tr class="prob-row">
                    <td>Playing Boggle</td>
                    <td>Backtracking</td>
                    <td>UVA Judge</td>
                    <td><span class="problem medium">5.0</span> MEDIUM</td>
                    <td><a href="https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=2258" target="_blank">https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=2258</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>
                <!--<tr class="action">
                    <td colspan="2" class="probHint"></td>
                    <td style="color:transparent;">Backtracking</td>
                    <td style="color:transparent;">UVA Judge</td>
                    <td style="color:transparent;"><span class="problem medium">5.0</span> MEDIUM</td>
                </tr>-->

                <tr class="prob-row">
                    <td>Integer Lists</td>
                    <td>Linked Lists</td>
                    <td>Kattis</td>
                    <td><span class="problem medium">5.0</span> MEDIUM</td>
                    <td><a href="https://open.kattis.com/problems/integerlists?tab=metadata" target="_blank">https://open.kattis.com/problems/integerlists?tab=metadata</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Use a Double Ended Linked List"></td>
                </tr>

                <tr class="prob-row">
                    <td>A Star not a Tree?</td>
                    <td>Geometry</td>
                    <td>Kattis</td>
                    <td><span class="problem zhard">5.8</span> HARD</td>
                    <td><a href="https://open.kattis.com/problems/starnotatree" target="_blank">https://open.kattis.com/problems/starnotatree</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Geometric median"></td>
                </tr>
                <!--<tr class="action">
                    <td class="probHint"><span color:></span> Geometric median</td>
                    <td style="color:transparent;">Geometry</td>
                    <td style="color:transparent;">Kattis</td>
                    <td style="color:transparent;"><span class="problem zhard">5.8</span> HARD</td>
                    <td></td>-->
                
                <tr class="prob-row">
                    <td>Digit Sum</td>
                    <td>Numeric</td>
                    <td>Kattis</td>
                    <td><span class="problem zhard">6.1</span> HARD</td>
                    <td><a href="https://open.kattis.com/problems/digitsum" target="_blank">https://open.kattis.com/problems/digitsum</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>The Trip</td>
                    <td>Numeric</td>
                    <td>Kattis</td>
                    <td><span class="problem zhard">6.5</span> HARD</td>
                    <td><a href="https://open.kattis.com/problems/trip" target="_blank">https://open.kattis.com/problems/trip</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title=""></td>
                </tr>

                <tr class="prob-row">
                    <td>AI Jeopardy</td>
                    <td>Combinatorics</td>
                    <td>Kattis</td>
                    <td><span class="problem zhard">6.7</span> HARD</td>
                    <td><a href="https://open.kattis.com/problems/aijeopardy" target="_blank">https://open.kattis.com/problems/aijeopardy</a></td>
                    <td><img src="../static/images/question-mark.png" width="30px" height="auto" title="Reverse nCr"></td>
                </tr>
            </tbody>
        </table>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
              var rows = document.querySelectorAll('#probtable tbody tr.prob-row');
              for (var i = 0; i < rows.length; i++) {
                if (i % 2 === 1) {
                  rows[i].style.backgroundColor = "#f2f2f2";
                }
              }
            });
            </script>

        <div class="Footer">
            <footer class="innerFooter">
              <div class="footer-container">
                <a href="https://www.maryvillecollege.edu/" target="_blank" rel="noreferrer noopener">
                  <img alt="image" src="https://www.maryvillecollege.edu/wp-content/uploads/Images/Main/MC-footer-logo-v5.png"/>
                </a>
                <div class="logo-container">
                  <span class="footer-logo">MC Programming Team</span>
                  <nav class="programmingsite-nav1">
                    <a href="https://www.maryvillecollege.edu/academics/programs-of-study/computer-science/" target="_blank" rel="noreferrer noopener"class="bottom-nav">
                      Info
                    </a>
                    <a class="bottom-nav" href=""onclick="window.open('http://localhost/contact.html', 'newwindow', 'width=1000,height=550'); return false;">Contact</a>
                  </nav>
                </div>
              </div>
              <div class="programmingsite-separator"></div>
              <div class="bottom-container">
                <span class="copyright-text"> © 2024 MC Programming Team, All Rights Reserved. </span>
                <div class="programmingsite-icon-group1">
                    <a href="https://www.facebook.com/groups/112478608462745/" target="_blank" rel="noreferrer noopener">
                        <svg viewBox="0 0 602.2582857142856 1024" class="fbIcon">
                          <path d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"></path>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/maryvillecsc/?igsh=MW44Y2lxYmE5aGVjYg%3D%3D&utm_source=qr" target="_blank"> <img src="../static/images/instagram.png"> </a>
                    <a> <img src="../static/images/twitter.png"> </a>
                </div>
              </div>
            </footer>
          </div>
        </div>

    </body>
</html>