<!--Still don't know what these are?-->
<!--{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}-->
<script>
    var pics = ["..static/images/lukekoch.png", "..static/images/davemcneelywhite.jpg", "..static/images/kaylabrown.jpg" ]
    var descriptions = [
    "Luke Koch is a Cybersecurity Researcher at Oak Ridge National Lab and is pursuing a Data Science PhD at UtK. He graduated from Maryville College with a degree in Mathematics and is currently working on a PhD.",
    "Dave McNeely-White is an applied Computer Vision Scientist who currentlt works for Amazon and has worked for a variety of companies in the technology sphere. He graduated from Maryville College with a degree in Computer Science.",
    ""]
    var links = ["lukekoch.html", "davemcneelywhite.html", "kaylabrown.html"]
    var contacts = ["mailto: kochlr@ornl.gov", "N/A", "N/A"]
</script>
<!--Page is kind of robotic. Feel free to rewrite anything-->
<html>
    <head>
        <title>CSC Resources</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/index.css">
        <link rel="stylesheet" href="../static/styles/resources.css">
        <script src="https://kit.fontawesome.com/29ba4da398.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../static/images/mcLogo.png">
    </head>

    <body>
        <section id="navbar" class="navbar">
            <!--Navbar-->
            <pre>  
                <a href="./home.html" style="float:left;"><img align="left" src="../static/Images/mcLogo.png" style="margin-top:-1%; margin-left: 4%;" loading="lazy"></a>    <a class="navlinks" href="about.html">About</a>    <a class="navlinks" href="major.html">Major</a>    <a class="navlinks" href="contact.php">Contact</a>    <a class="navlinks" href="problems.html">Problems</a><img align="right" src="../static/Images/placeholderlogo.png" style="margin-top:-1%; margin-right: 4%;" loading="lazy">
            </pre>
        </section>
        <center><strong><h2 style="font-size:40px; color:#600015 ;">Resources</h2></strong>
        Contact us for more resources</center>

        <h1>General Computer Science</h1>
        Perfect for anyone
        <a></a>

        <h1>Programming Competitions</h1>
        <div class="web-card"> 
            <a href="https://open.kattis.com/" target="_blank">
            <img class="web-card-img" src="../static/images/kattis.jpg">
            <h3 class="web-card-tag">PRACTICE PROBLEMS</h3>
            <h2 class="web-card-title">Kattis</h2>
            <div class="web-card-desc">Kattis is the leading website for programming contest and interview practice</div>

        </a>
        </div>
        <div class="web-card"> 
        <a href="https://mwermelinger.github.io/kattis-guide/" target="_blank">
            <img class="web-card-img" src="../static/images/kattisguide.png">
            <h3 class="web-card-tag">PRACTICE PROBLEMS</h3>
            <h2 class="web-card-title">A Guide to Kattis Problems</h2>
            <div class="web-card-desc">Guide for using kattis</div>
        </a>
        </div>
        <div class="web-card"> 
        <a href="https://codeforces.com/gyms" target="_blank">
            <img class="web-card-img" src="../static/images/codeforces.png">
            <h3 class="web-card-tag">PRACTICE PROBLEMS</h3>
            <h2 class="web-card-title">Codeforces</h2>
            <div class="web-card-desc">Gyms to practice using real programming contest problems and time limits</div>
        </a>
        </div>
        <div class="web-card"> 
        <a href="https://youtube.com/playlist?list=PLy4-sNQybCmkSQU3rEGEPeBK6Z7E7RMGv&feature=shared" target="_blank">
            <img class="web-card-img" src="../static/images/youtube.png">
            <h3 class="web-card-tag">YOUTUBE</h3>
            <h2 class="web-card-title">Programming Team Playlist</h2>
            <div class="web-card-desc">YouTube playlist curated by the programming team.</div>
        </a>
        </div>
        Many alumni have been on the Programming team.. See if you can find them all!
        <h1>Data Science</h1>
        <div class="web-card"> 
            <a href="https://youtube.com/playlist?list=PLy4-sNQybCmkV4aUACKUhlksQfqSy-9eN&feature=shared" target="_blank">
                <img class="web-card-img" src="../static/images/youtube.png">
                <h3 class="web-card-tag">YOUTUBE</h3>
                <h2 class="web-card-title">Data Science Playlist</h2>
                <div class="web-card-desc">YouTube playlist curated by the programming team.</div>
            </a>
        </div>
        <br><br>Meet Data Science Alumni<br>

        <h1>Web Development</h1>

        <div class="web-card"> 
        <a href="https://okmonk.com/">
            <img class="web-card-img" src="../static/images/okmonk.png">
            <h3 class="web-card-tag">REFERENCE DIRECTORY</h3>
            <h2 class="web-card-title">okmonk</h2>
            <div class="web-card-desc">UI and UX design references</div>
        </a>
        </div>

        <div class="web-card"> 
            <a href="https://www.awwwards.com/websites/">
                <img class="web-card-img" src="../static/images/awwwards.png">
                <h3 class="web-card-tag">ALL-IN-ONE RESOURCE</h3>
                <h2 class="web-card-title">awwwards</h2>
                <div class="web-card-desc">Award winning websites and other resources</div>
        </a>
        </div>
        <div class="alumni-card">
            <h3 class="alumni-card-title">Meet Web Development Alumni</h3>
            <a href="" onclick="window.open('../templates/alumnipages/kaylabrown.html', 'newwindow', 'width=1000,height=550'); return false;">
                <img align="left" id="alumni-card-img" src="../static/images/kaylabrown.jpg">
                <div class="alumni-card-desc">

                </div>
                <center>CLICK TO LEARN MORE</center>
            </a>
        </div>
        <h1>Software Engineering</h1>

        <h1>Cybersecurity</h1>
        <div class="web-card"> 
        <a href="https://www.sans.org/tools/?focus-area=cyber-defense" target="_blank">
            <img class="web-card-img" src="../static/images/sans.png">
            <h3 class="web-card-tag">ALL-IN-ONE RESOURCE</h3>
            <h2 class="web-card-title">SANS</h2>
            <div class="web-card-desc">Training, certifications, scholarship academies, degree programs, cyber ranges, and resources for cybersecurity</div>
        </a>
        </div>
        <div class="web-card"> 
            <a href="" target="_blank">
                <img class="web-card-img" src="../static/images/youtube.png">
                <h3 class="web-card-tag">YOUTUBE</h3>
                <h2 class="web-card-title">Cybersecurity Playlist</h2>
                <div class="web-card-desc">YouTube playlist curated by the programming team.</div>
            </a>
        </div>

        <div class="alumni-card">
        <a href="" onclick="window.open('../templates/alumnipages/lukekoch.html', 'newwindow', 'width=1000,height=550'); return false;">
            <h3 class="alumni-card-title">Meet Cybersecurity Alumni</h3>
            <img align="left" class="alumni-card-img" src="../static/images/lukekoch.jpg"> 
            <div class="alumni-card-desc">
            Luke Koch is a Cybersecurity Researcher at Oak Ridge National Lab and is pursuing a Data Science PhD at UtK. <br> He has experience with adversarial machine learning and static binary instrumentation.<br> He graduated from Maryville College with a degree in Mathematics
            </div>   
            <center>CLICK TO LEARN MORE</center> 
          
    </a>
        </div>
        <h1>Ethical Hacking</h1>

        <br><br>Meet Hacking Alumni<br>

        <h1>Artificial Intelligence</h1>

        
    </body>



</html>