.styled-table {

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-left: auto;
margin-right: auto;
box-sizing: border-box;

}
.styled-table thead tr {
background-color: #000080;
color: #ffffff;
}

.styled-table th,
.styled-table td {
padding: 12px 15px;
}
.styled-table tbody tr {
border-bottom: thin solid #dddddd;
}
.styled-table a {
text-decoration: none;
}

.styled-table a:hover {
text-decoration: underline;
}

.styled-table th {
    cursor: pointer;
  }

  .styled-table th::after {
    content: "\f160";
    font-family: FontAwesome;
  }

  .styled-table-desc {

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-left: auto;
margin-right: auto;
box-sizing: border-box;

}
.styled-table-desc thead tr {
background-color: #000080;
color: #ffffff;
}

.styled-table-desc th,
.styled-table-desc td {
padding: 12px 15px;
}
.styled-table-desc tbody tr {
border-bottom: thin solid #dddddd;
}
.styled-table-desc a {
text-decoration: none;
}

.styled-table-desc a:hover {
text-decoration: underline;
}

.styled-table-desc th {
    cursor: pointer;
  }

  .styled-table-desc th::after {
    content: "\f161";
    font-family: FontAwesome;
  }
  

#searchinput {
    background-image: url('search.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 50%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    }
    #searchinput2 {
        background-image: url('search.png'); 
        background-position: 10px 12px; 
        background-repeat: no-repeat; 
        width: 15%; 
        font-size: 14px;
        padding: 12px 20px 12px 40px; 
        border: 1px solid #ddd; 
        }

    tr.action {
        visibility: collapse;
        }
    tr:hover + tr.action {
    visibility: visible;
    }

.red {color:red}
.yellow {color:yellow}
.green {color:green}