:root {
    garnet: #600015;
}

.about {
    margin-bottom: -1%;
    margin-left:-1%;
    margin-right:-1%;
}
.advisordescp {
    color: #600015;
    background-color:transparent;
    font-size: 16px;
    font-family: Arial;
}
.course {
    color:#600015;
    font-size: '21px';
}
.compbtn {
    width: 300px;
    height: 275px;
    color: white;
    font-size: 24px;
}
.curious {
    color:white;
    font-size:21px;
    position: relative;
    min-height: 450px;
    opacity: 70%;
}
.footer {
    background-color: #600015;
    color: white;
    margin-bottom: -1%;
    margin-left:-1%;
    margin-right:-1%;
}
.garnet {
    color: #600015;
}
.hr {
    margin-left:-1%;
    margin-right:-1%;
}
.imgGallery {
    height: 700px;
    border-top: 10px solid;
    border-image: linear-gradient(to right, maroon 50%, red 50%, orange 75%) 5;
    margin-bottom: -1.6%;
    margin-left:-1%;
    margin-right:-1%;
    margin-top: -0.5%;
}
.locations{
    margin-top: 3%;
    margin-left: 11%;
    display: flex;
    justify-content: space-between;
}
.locations-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.locations-col img{
    width: 100%;
    height: auto;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.layer:hover{
    background-color: rgba(100, 9, 40, 0.5)
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #ff6500;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.navbar {
    background-color: salmon;
    text-align: center;
    font-size: 18px;
}
.navlinks {
    text-decoration: none;
}
.orange {
    color:#ff6500;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.side {
    -ms-flex: 20%;
    flex: 20%;
    padding: 12px;
    text-align: center;
}
.sectHead {
    color:#ff6500;
    font-family:Helvetica;
    font-size: 32px;
}
.studenthead {
    background-color:inherit;
    color:#600015;
    font-family: Helvetica;
    font-size:21px;
    width:375px;
    text-align: center;
    border: transparent;
}
.studentdescp {
    background-color:inherit;
    color: white;
    font-size: 18px;
    font-family: Arial;
    width: 475px;
    height: 200px;
    text-align: center;
    border: transparent;
}
.spotbtn {
    width: 70px;
    height: 50px;
    color: maroon;
    background-color: orange;;
}
.yr {
    color:orange;
    font-family: Helvetica;
    font-style: oblique;
    font-size: '24px';
}

@media(max-width: 700px){
    .locations{
        flex-direction: column;
    }
}