<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../static/styles/alumni.css">
    <script src="../../static/java/childToParent.js" crossorigin="anonymous"></script>
    <div class="contact">
    <a href="mailto: evan.ezell@my.maryvillecollege.edu">
        <center><img src="../../static/images/evanezell.jpg"><br>
        Contact Evan!</center>
    </a>
    </div>

    <div class="text-block"><br>
        As a Maryville College student, I was fortunate to get involved with the competitive programming team. I enjoyed traveling to competitions, eating free bagels and drinking free coffee, and hanging out with everyone on the team. Not only was it fun, but the problem solving skills you learn on the programming team help to build critical thinking and interview skills for life after college. 
        <br><br>
        Currently, I am working on my doctoral degree in data science and engineering at the University of Tennessee and working full time at Graf Research Corporation, a small startup focused on solving problems in microelectronics security. My time at MC provided me with the foundational skills to be successful in my career to this point, and most importantly taught me how to learn on my own.
    </div>
    <h3 align="right">~Evan Ezell</h3>

</html>