<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../static/styles/alumni.css">
    <script src="../../static/java/childToParent.js" crossorigin="anonymous"></script>
    <div class="contact">
    <a href="mailto: houston.miller@my.maryvillecollege.edu">
        <center><img src="../../static/images/Huey.jpg"><br>
        Contact Houston!</center>
    </a>
    </div>

    <div class="text-block">
        I attended Maryville College from 2007 until 2011. I got to be the first person to graduate with a full Computer Science degree, as prior to that it was either CS/Math or CS/Business degree. I was lucky that I could focus purely on the computer science part since I was way better at that than higher level math and had no interest in business. 
<br><br>
Maryville College helped me get an internship with Y-12 National Security Complex in Oak Ridge, TN and that led directly to me getting my first job with Y-12. I have since moved on from there, but nearly every job I have had since then has been because of the lasting relationships with friends I made while at Maryville College. MC also did a great job preparing me for public speaking, which is something I never thought I would do. The things I learned about speaking in front of an audience, thanks to my undergrad thesis and numerous other oral presentations for other classes, are still of use to me as I have spoken at several developer conferences, CodeStock, Devmoot, and DevSpace specifically. I definitely wouldn't be where I am today without the people and education I got while at MC.
<br><br>
Advice I have for incoming CS students would be to join the programming team! I am not just shilling for it, the programming team played a major part in building the bonds with the friends I have today and helped to sharpen my skills as a developer. Don't be afraid to check out different languages than the ones you learn in class and that StackOverflow is a website you should get really familiar with (professional developers use it every day!) Most of all, have fun with coding!
<br><br>
If you need anything else from me, please reach out! I am more than happy to help. I don't mind being a contact for any students that want to pick my brain. You can either reach out to me at the email above, or I can also be found on Twitter (<a href='' onclick="openTabInParent('https://twitter.com/hueythedm')">@HueyTheDM</a>) and on Bluesky (<a href="" onclick="openTabInParent('https://bsky.app/profile/hueydm.bsky.social')">@hueydm.bsky.social</a>). They could also reach out on LinkedIn, though I am much less active there, at <a href="" onclick="openTabInParent('https://www.linkedin.com/in/houston-miller/')">linkedin.com/in/houston-miller</a>


<h3 align="right">~Houston Miller</h3>
    

</html>