<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../static/styles/alumni.css">
    <div class="contact">
    <a href="mailto: delozierjk@ornl.gov">
        <center><img src="../../static/images/jenna_delozier.jpeg"><br>
        Contact Jenna!</center>
    </a>
    </div>

    <div class="text-block"><br>
        I am currently a Research Software Engineer at Oak Ridge National Laboratory. Here, I work on a variety of projects, mostly on the software development side. After my time at Maryville College, I have pursued MS in Computer Science at Georgia Tech, and I will be starting a PhD in Data Science & Engineering at the University of Tennessee in Fall 2024.
        <br><br>
        My education at Maryville College has helped me in many ways. From the liberal arts curriculum to the technical skills I gained through the Math & CS programs, I was well prepared for all the demands of my current position.
        <br><br>
        As a mathematics major with a minor in computer science at Maryville College, I found the education enriching, and it prepared me well for my current position. I know it’s probably not what a lot of STEM students want to hear, but the most important part of my education there was the well-rounded, liberal arts curriculum. Communication and critical thinking are two very important skills to have, even in a highly technical environment. Additionally, being able to adapt to different environments and learn new technologies is critical when working in STEM. So, I would summarize that as “learning how to learn” – I think this is by far the most important thing students can pick up in college.
    </div>
    <h3 align="right">~Jenna DeLozier</h3>

</html>