<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../static/styles/alumni.css">
    <div class="contact">
    <a href="mailto: jesse.smith@maryville.college.edu">
        <center><img src="../../static/images/jesse-smith.png"><br>
        Contact Dr. Smith!</center>
    </a>
    </div>

    <div class="text-block"><br>
        Dr. Smith is a Math and Computer Science alumnus from Maryville College's class of 2008. He completed his Ph.D. in Mathematics at the University of Tennessee, Knoxville and returned to the college in 2014. He has taught various math courses, ranging from Introduction to Computer Science to Modern Algebra and even a section of Ethics but prefers to stick to theoretical mathematics.<br><br>
        Dr. Smith has been the advisor for MC3D, the student-led 3D printing club, since 2019 and loves the opportunity to spread another one of his passions. He will return to teaching an Introduction to 3D Printing course in Spring 2025. He also serves as the faculty chair for Keepers of the Covenant, an organization devoted to upholding the College's values of 'Scholarship, Respect, and Integrity.'<br><br>
        On top of all of this, Dr. Smith spends his Tuesdays working part-time at Oak Ridge National Laboratory. His work concentrates around composing a comprehensive database that serves a critical role in the computation of environmental risk from exposure to certain chemicals and radionuclides. However, he does not attribute his success solely to his problem-solving ability but also to the skills obtained from his exposure to Maryville College's liberal arts education.<br><br>
        Dr. Smith enjoys teaching abstract mathematics and excells at it, but he craves something more. His curiousity skyrocketed as alums such as Luke Koch demonstrated the potential of upcoming technologies via coding and artifial intelligence.
        After his first computer science class with Dr. Barbara Johnson. he found a new love in computer programming. <br><br>
        “If you don’t try different things like that, you don’t know what you might enjoy or what you might be good at,” he said. “I was pointing out to (MC President Dr. Bryan) Coker the other day, that life’s problems don’t come in buckets, either. When you have a real-life problem, it doesn’t just live inside of algebra or calculus or even math, and you have to have other skills to solve it: reading skills, critical thinking skills, communication skills.”<br><br>
        “One of the things we’ve talked about in the Division of Mathematics and Computer Science is that there’s a belief that a small liberal arts college isn’t the best place to go to if you want to succeed in the STEM fields, and that’s absolutely false,” he said. “We definitely provide an appropriate platform for those students, especially if they want that small community environment and a smaller class size with greater individual support. This is an amazing place for those things.<br><br>
        Learn more about Dr. Jesse Smith's journey <a target="_blank" href="https://www.maryvillecollege.edu/news/2024/maryville-colleges-dr-jesse-smith-puts-his-skills-to-work-at-ornl/?fbclid=IwAR2NAroEkRppBh0HctNqXKysZ6mp55jp1vF-TKeWL5Nq8ZeA_RyyaFcJIKM_aem_Ac5tufWdyNOLdRs8ju4HwkeZG-Z0WkNm4uEtJTU0QA6AZ9h-Mffv8ERdiwSfqmIazjw">here</a>.
    </div>
    <h3 align="right">~Jesse Smith</h3>

</html>