<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../../static/styles/alumni.css">
        <center><img src="../../static/images/stacymullinax.jpg"><br></center>
    </div>

    <div class="text-block">

        After graduating from Maryville College in 2011, Stacy Mullinax went on to earn his Master's degree in Computer Science from Tennessee Tech in 2014.  Currently, he works as a Software Engineer for TeamHealth, a medical staffing company based in Knoxville, TN.  Stacy credits Maryville College for a large part of where he is, now.  "The friends I made and skills I learned at Maryville College continue supporting me, even today."
<br><br>
For those currently working to get their Computer Science degree, Stacy recommends focusing less on individual languages and more on how to break down problems into parts that a computer can solve.  Most (not all) companies that hire developers use object-oriented languages, so he recommends reading Matt Weisfeld's book, "The Object-Oriented Thought Process", especially the chapter on SOLID principles.  Other good skills to have would be to know what Source Control is and how to use it, along with being able to both read and review other peoples' code.  And good communication skills are always important regardless of your planned career path.

    </div>
<h3 align="right">~Stacy Mullinax</h3>

<script>
    function openTabInParent(url) {
        // Open the URL in a new tab of the parent window
        if (window.opener) {
            window.opener.open(url, '_blank');
        } else {
            alert('Parent window reference not found!');
        }
    }
</script>
    

</html>