<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Problem</title>
</head>
<body>
    <form method="POST" action="/submitadd">
        <input name="name" type="text" placeholder="name">
        <input name="link" type="text" placeholder="link">
        <input name="difficulty" type="text" placeholder="difficulty">
        <input name="category" type="text" placeholder="categoryid">
        <button type="submit">Add Problem</button>
    </form>
</body>
</html>