<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Problem</title>
</head>
<body>
    <form action="/submitedit" method="post">
        <input name="name" type="text" value="{{rows[0][1]}}">
        <input name="link" type="text" value="{{rows[0][2]}}">
        <input name="difficulty" type="text" value="{{rows[0][4]}}">
        <input name="category" type="text" value="{{rows[0][3]}}">
        <input type="hidden" name="pid" value="{{rows[0][0]}}">
        <button onclick="location.href='/problems'">Go to problems</button>
        <button type="submit">Edit</button>
    </form>
</body>
</html>